@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

:root {

    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);

    --gradient-color: hsl(6, 100%, 80%), hsl(335, 100%, 65%);
}

body {
    background-color: var(--very-dark-blue);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > img {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.container .col {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 80px;
}

/* content fylo */
.col .fylo {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    background-color: var(--dark-blue);
    border-radius: 10px;
    border-top-right-radius: 100px;
    padding: 45px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.fylo .logo img {
    width: 55%;
}

.icons {
    display: flex;
}

.icons .icon {
    width: 55px;
    height: 55px;
    background-color: var(--very-dark-blue);
    text-align: center;
    align-content: center;
    margin-right: 20px;
    border-radius: 10px;
}

.icons .icon img {
    transition: 0.4s;
}

.icons .icon img:hover {
    transform: scale(1.3);
    transition: 0.4s;
}

/* content range */

.col .range {
    grid-column: 3 / 6;
    grid-row: 2 / 5;
    background-color: var(--dark-blue);
    width: 100%;
    border-radius: 10px;
    padding: 45px;
    position: relative;
}

.range .rest {
    width: 200px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: -50px;
    right: 45px;
    display: flex;
    align-items: center;
    padding: 30px;
}

.triangle {
    position: absolute;
    top: 85%;
    right: 0;
    border-top: 34px solid white;
    border-left: 35px solid transparent;
}

.rest h2 {
    font-size: 40px;
    margin-right: 10px;
    font-weight: 800;
}

.rest span {
    font-size: 0.9rem;
    color: var(--grayish-blue); 
}

.range p {
    color: rgba(255, 255, 255, 0.853);
}

.range span {
    font-weight: 700;
}

.container-range {
    background-color: var(--very-dark-blue);
    height: 23px;
    border-radius: 20px;
    padding: 3px;
    margin: 20px 0 10px 0;
}

.content-range {
    background-image: linear-gradient(to right, var(--gradient-color));
    height: 100%;
    width: 81.5%;
    border-radius: 20px;
    padding: 2px;
}

.content-range .circle {
    background-color: white;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    float: right;
}

.bytes {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .container {
        background-image: url("../img/bg-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container .col {
        width: 85%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .col .fylo {
        width: 100%;
        margin-bottom: 30px;
    }

    .fylo .logo {
        margin-bottom: 30px;
    }

    .col .range {
        width: 100%;
    }

    .range p {
        text-align: center;
    }

    .range .rest {
        top: 80%;
        right: 28%;
    }
    
    .triangle {
        display: none;
    }
}